body
{
 margin: 0;
 padding: 0;
 background: #000000;
 color:#fff;
}
h1{
    font-size:50px;
    font-family: sans-serif;
}
.header{    
    width: 100%;   
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    animation: animate 50s linear infinite;
    position: relative;
    z-index: 1;
    
}
.header:before{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: -10px;   
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    border-radius: 40px;
    opacity: 1;
    transition: 0.5s;
    filter: blur(20px);
    z-index: -1;
    animation: animate 50s linear infinite;
}
.header h1{
    text-align: center;
    color: #000;
}
@keyframes animate
{
 0%
 {
  background-position: 0%;
 }
 100%
 {
  background-position: 400%;
 }
}